<p id="notice"><%= notice %></p>

<p>
  <strong><%= @comment.user.name %></strong>
</p>

<p>
  <strong>
  <%= @comment.body %>
  </strong>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
