<%= form_for(issue) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</p>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field-group">
    <%= f.label :kind %>
    <%= f.select(:kind, [['bug'], ['enhancement'], ['proposal'], ['task']]) %>
  </div>

  <div class="field-group">
    <%= f.label :priority %>
    <%= f.select(:priority, [['trivial'], ['minor'], ['major'], ['critical'],
                             ['blocker']]) %>
  </div>
  
  <div class="field-group">
    <%= f.label :status %>
    <%= f.select(:status, [['New'], ['Open'], ['On hold'], ['Invalid'],
                             ['Resolved'], ['Closed']]) %>
  </div>

  <div class="actions">
    <%= f.submit 'Create issue', :class => 'submit' %>
  </div>
<% end %>
