<%= form_for @issue, html: { multipart: true } do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation" class="errors">
      <p><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</p>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-group">
    <%= f.label :title %>
    <%= f.text_field :title, name: 'title' %>
  </div>

  <div class="field-group">
    <%= f.label :description %>
    <%= f.text_area :description, name: 'description' %>
  </div>

  <div class="field-group">
    <%= f.label :assignee %>
    <%= f.select :assignee_id, User.all.collect {|mt| [ mt.name, mt.id ] }, {:include_blank => ''}, name: 'assignee_id' %>
  </div>

  <div class="field-group">
    <%= f.label :kind %>
    <%= f.select :kind, [['bug'], ['enhancement'], ['proposal'], ['task']], {}, name: 'kind' %>
  </div>

  <div class="field-group">
    <%= f.label :priority %>
    <%= f.select :priority, [['trivial'], ['minor'], ['major'], ['critical'], ['blocker']], {}, name: 'priority' %>
  </div>
  
  <div class="field-group">
    <%= f.label :status %>
    <%= f.select :status, [['New', 'new_issue'],
                           ['Open', 'open'],
                           ['On hold', 'on_hold'],
                           ['Invalid', 'invalid_issue'],
                           ['Resolved', 'resolved'],
                           ['Closed', 'closed']], {}, name: 'status' %>
  </div>

    <div class="field-group">
      <%= f.label :attachments %>
      <ul id="existing-attached-files-list" class="attached-files-list">
        <% @issue.attached_files.each do |attachment| %>
            <li><a href="<%= attachment.file.url %>"><%= attachment.file_file_name %></a></li>
        <% end %>
      </ul>
      <ul id="attached-files-list" class="attached-files-list newfiles"></ul>
      </ul>
      <div class="myFile">
        <button class="aui-button">Select files</button>
        <%= file_field_tag 'attached_files[]', id: 'attachment-upload', class:'assistive', onchange: 'javascript:updateUploads()', multiple: true %>
      </div>
    </div>

    <div class="actions">
    <%= f.submit 'Create issue', :class => 'submit' %>
    <%= link_to 'Cancel', issues_path, :class => 'cancel' %>
  </div>
<% end %>
