<%= form_for @issue, html: { multipart: true } do |f| %>

    <div class="field-group">
      <%= f.label :attachments %>
      <ul id="attached-files-list" class="attached-files-list"></ul>
      <div class="myFile">
        <button class="aui-button">Select files</button>
        <%= file_field_tag 'attached_files[]', type: :file, id: 'attachment-upload', class:'assistive', onchange: 'javascript:updateUploads("new")', multiple: true %>
      </div>
    </div>

  <div class="actions">
    <%= f.submit 'Create issue', :class => 'submit' %>
    <%= link_to 'Cancel', issues_path, :class => 'cancel' %>
  </div>
<% end %>
