<p id="notice"><%= notice %></p>

<div class="header">
  <div class="section-title">
    <h1>Issues</h1>
  </div>
  <div class="page-actions">
    <% if current_user %>
      <%= link_to new_issue_path, class: 'aui-button aui-button-subtle' do %>
        <span class="add-icon">+</span>
        <span class="aui-button-label">Create issue</span>
      <% end %>
    <% end %>
  </div>
</div>


<div class="issues">

  <div class="issues-toolbar">
    <div class="filter-container">
      <p class="filter-label">Filters:</p>
      <ul class="filter-status">
        <li id="all" class="aui-button">
          <a href="?">All</a>
        </li>
        <li id="open" class="aui-button">
          <a href="?status=open">Open</a>
        </li>
        <% if current_user %>
          <li id="mine" class="aui-button">
            <a href="?responsible=<%= current_user.name %>">My issues</a>
          </li>
          <li id="watching" class="aui-button">
            <a href="?watching=<%= current_user.name %>">Watching</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <h2>Issues (<%= @issues.size %>)</h2>

  <table class="issue-list">
    <thead>
    <%= sortable "id", "Title" %>
    <%= sortable "kind", "T" %>
    <%= sortable "priority", "P" %>
    <%= sortable "votes", "Votes" %>
    <%= sortable "created_at", "Created" %>
    <%= sortable "updated_at", "Updated" %>
    </thead>
    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td class="text">
            <%= link_to '#' << issue.id.to_s << ': ' << issue.title, issue %>
          </td>
          <td class="text">
            <a href="?kind=<%= issue.kind %>" class="icon-kind
            icon-<%= issue.kind %>" title="Filter by type: <%= issue.kind %>">
              <%= issue.kind %></a>
          </td>
          <td class="text">
            <a href="/issues?priority=<%= issue.priority %>"
               class="icon-priority icon-<%= issue.priority %>"
               title="Filter by priority: <%= issue.priority %>">
              <%= issue.priority %>
            </a>
          </td>
          <td class="text">
            <% if issue.votes.size > 0 %>
              <span class="aui-badge issue-count-<%= issue.votes
                                .include?(current_user) ? 'no' : 'yes' %>">
                <%= issue.votes.size %>
              </span>
            <% end %>
          </td>
          <td class="date">
            <%= issue.created_at.to_date %>
          </td>
          <td class="date">
            <%= issue.updated_at.to_date %>
          </td>
        </tr>
      <% end %>
  </table>
</div>
