<p id="notice"><%= notice %></p>

<div class="header">
  <div class="section-title">
    <h1>Issues</h1>
  </div>
  <div class="page-actions">
    <%= link_to new_issue_path, class: 'aui-button aui-button-subtle' do %>
      <span class="add-icon">+</span>
      <span class="aui-button-label">Create issue</span>
    <% end %>
  </div>
</div>


<div class="issues">
  <div class="issues-toolbar"></div>
  <h2>Issues (<%= @issues.size %>)</h2>

  <table class="issue-list">
    <thead>
    <%= sortable "id", "Title" %>
    <%= sortable "created_at", "Created" %>
    <%= sortable "updated_at", "Updated" %>
    </thead>
    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td class="text">
            <%= link_to '#' << issue.id.to_s << ': ' << issue.title, issue %>
          </td>
          <td class="date">
            <%= issue.created_at.to_date %>
          </td>
          <td class="date">
            <%= issue.updated_at.to_date %>
          </td>
        </tr>
      <% end %>
  </table>
</div>
