<p id="notice"><%= notice %></p>

<div class="header">
  <div class="section-title">
    <h1>Issues</h1>
  </div>
  <div class="page-actions"></div>
</div>

<div class="issue-main-view">
  <div class="issue-header">
      <span class="issue-id">
        Issue #<%= @issue.id %>
      </span>
  </div>

  <div class="issue-main-content">
    <div class="issue-info">
      <div class="issues-toolbar">
        <div class="aui-buttons"><%= link_to "Delete", @issue.id, method: :delete %></div>
      </div>

      <h1 id="issue-title"><%= @issue.title %></h1>

      <div class="issue-author">
        <a href="/issues?responsible=<%= @issue.user.name %>">
          <div class="aui-avatar aui-avatar-medium">
            <div class="aui-avatar-inner">
              <img src=<%= @issue.user.image_url %>>
            </div>
          </div>
          <span title="author-name"><%= @issue.user.name %></span>
        </a>
        created an issue
        <time class="created_at"><%= @issue.created_at.strftime('%Y-%m-%d')
        %></time>
      </div>

      <div class="issue-description">
        <% if @issue.description %>
          <p class="description"><%= @issue.description %></p>
        <% else %>
            <p class="no-description">No description provided.</p>
        <% end %>
      </div>

      <div class="attachments">
        <ul class="issue-attachment-list attachment-list clearfix">
          <% @issue.attached_files.each do |attached_file| %>
              <li>
                <a class="attachment-link" target="_blank" href="<%= attached_file.file.url %>">
                  <span class="placeholder default"></span>
                  <span class="filename"><%= attached_file.file_file_name %></span>
                </a>
                  <%= link_to attached_file,  method: :delete, class: 'delete-attachment', data: { confirm: 'Are you sure you want to delete this attachment?' } do %>
                    <img class="delete-icon" src="<%= image_url('delete_black.png') %>">
                  <% end %>

              </li>
          <% end %>
        </ul>
      </div>

      <div class="issue-comments-container"></div>
    </div>

    <div class="sidebar">
      <div class="issue-attrs">
        <dl>
          <dt>Type</dt>
          <dd class="type with-icon">
            <a href="/issues?kind=<%= @issue.kind %>">
              <span class="icon-kind icon-<%= @issue.kind %>"></span>
              <%= @issue.kind %>
            </a>
          </dd>
        </dl>
        <dl>
          <dt>Priority</dt>
          <dd class="priority with-icon">
            <a href="/issues?priority=<%= @issue.priority %>">
              <span class="icon-priority icon-<%= @issue.priority %>"></span>
              <%= @issue.priority %>
            </a>
          </dd>
        </dl>
        <dl>
          <dt>Status</dt>
          <dd class="status with-icon">
            <a href="/issues?status=<%= @issue.status %>">
              <span class="icon-status icon-<%= @issue.status %>"></span>
              <%= @issue.status %>
            </a>
          </dd>
        </dl>
        <dl>
          <dt>Votes</dt>
          <dd class="votes">
            <span class="aui-badge issue-count-<%= @issue.votes
                            .include?(current_user) ? 'no' : 'yes' %>">
              <%= @issue.votes.size %>
            </span>
            <% if current_user %>
          <dd class="votes">
            <span class="aui-badge issue-count-<%= @issue.votes
                            .include?(current_user) ? 'no' : 'yes' %>">
              <%= @issue.votes.size %>
            </span>
            <% if current_user %>
              <a href="/issues/<%= @issue.id %>/vote" data-method="create">
                <%= (@issue.votes.exists?(current_user.id)) ? 'Remove vote' :
                        'Vote for this issue' %>
              </a>
            <% end %>
          </dd>
        </dl>
        <dl>
          <dt>Watchers</dt>
          <dd class="watchers">
            <span class="aui-badge issue-count-<%= @issue.watchers
                                                            .include?(current_user) ? 'no' : 'yes' %>">
              <%= @issue.watchers.size %>
            </span>
            <% if current_user %>
                <a href="/issues/<%= @issue.id %>/watch" data-method="create">
                  <%= (@issue.watchers.exists?(current_user.id)) ? 'Stop watching' :
                          'Watch this issue' %>
                </a>
            <% end %>
          </dd>
        </dl>
      </div>
    </div>
<<<<<<< HEAD
    <% @comments.each do |comment| %>
    <%= render partial: 'comments/comment', locals: {comment: comment} %>
    <% end %>

    <%= render partial: 'comments/form' %>
    
=======
>>>>>>> 3263bc3510f61bfbbf468b0f6970a4c8bf9b219f
  </div>
</div>
