<p id="notice"><%= notice %></p>

<div class="header">
  <div class="section-title">
    <h1>Issues</h1>
  </div>
  <div class="page-actions"></div>
</div>

<div class="issue-main-view">
  <div class="issue-header">
      <span class="issue-id">
        Issue #<%= @issue.id %>
      </span>
  </div>

  <div class="issue-main-content">
    <div class="issue-info">
      <div class="issues-toolbar"></div>

      <h1 id="issue-title"><%= @issue.title %></h1>

      <div class="issue-author">
        <span title="author-name"><%= User.find_by(id: @issue.user_id).name
        %></span>
        created an issue
        <time class="created_at"><%= @issue.created_at.strftime('%Y-%m-%d')
        %></time>
      </div>

      <div class="issue-description">
        <% if @issue.description %>
          <p class="description"><%= @issue.description %></p>
        <% else %>
            <p class="no-description">No description provided.</p>
        <% end %>
      </div>

      <div class="issue-attachments"></div>

      <div class="issue-comments-container"></div>
    </div>

    <div class="sidebar">
      <div class="issue-attrs">
        <dl>
          <dt>Type</dt>
          <dd class="type with-icon">
            <a href="/issues?kind=<%= @issue.kind %>">
              <span class="icon-kind icon-<%= @issue.kind %>"></span>
              <%= @issue.kind %>
            </a>
          </dd>
        </dl>
        <dl>
          <dt>Priority</dt>
          <dd class="priority with-icon">
            <a href="/issues?priority=<%= @issue.priority %>">
              <span class="icon-priority icon-<%= @issue.priority %>"></span>
              <%= @issue.priority %>
            </a>
          </dd>
        </dl>
        <dl>
          <dt>Votes</dt>
          <dd class="votes">
            <span class="aui-badge issue-count-<%= @issue.votes
                            .include?(current_user) ? 'no' : 'yes' %>">
              <%= @issue.votes.size %>
            </span>
            <% if current_user %>
              <a href="/issues/<%= @issue.id %>/vote">
                <%= (@issue.votes.exists?(current_user.id)) ? 'Remove vote' :
                        'Vote for this issue' %>
              </a>
            <% end %>
          </dd>
        </dl>
        <dl>
          <dt>Watchers</dt>
          <dd class="watchers">
            <span class="aui-badge issue-count-<%= @issue.watchers
                                                            .include?(current_user) ? 'no' : 'yes' %>">
              <%= @issue.watchers.size %>
            </span>
            <% if current_user %>
                <a href="/issues/<%= @issue.id %>/watch">
                  <%= (@issue.watchers.exists?(current_user.id)) ? 'Stop watching' :
                          'Watch this issue' %>
                </a>
            <% end %>
          </dd>
        </dl>
        
        <dl>
          <dt><!--< % (@issue.status == 0) ? 'Status: open' : 'Status: closed' %>--> Status </dt>
          <dd class="status">
            <% if current_user %>
              <a href="/issues/<%= @issue.id %>/toggle">
                Toggle
              </a>
              <!--< %= (@issue.status == 0) ? 'Open' : 'Close' %>-->
            <% end %>
          </dd>
        </dl>
        
      </div>
    </div>
  </div>
</div>
