<!DOCTYPE html>

<!--TOTA LA INTERFICIE GRAFICA QUE ES MOSTRARA EN TOT MOMENT, VEURE YIELD AL FINAL-->

<html>
  <head>
    <title>IssueTrackerG12B</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
  <!--Ultima versio de CSS-->
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--Opcional (Theme)-->
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <!--Ultima versio de Javascript-->
  <script src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
=======
  <!--Ultima versio de CSS
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--Opcional (Theme)
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <!--Ultima versio de Javascript
  <script src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
>>>>>>> 990e8bb42295d6f93897e513e2daac6173848cd2
  
  <style>
    body {
      height: 100%;
      padding-right: 12px;
      padding-bottom: 12px;
      padding-left: 12px;
      padding-top: 12px;
    }
    /*#page {
      position: relative;
      height: 100%;
    }*/
    /*Barra superior que es mostra sempre*/
    #BarraSuperior {
      position: relative;
      float: top;
      width: 100%;
      text-align: center;
      height: 69px;
      border-width: 1px;
      border-style: solid;
      border-radius: 18px;
    }
    #BarraSuperior-Left {
      position: relative;
      float: left;
      width: 69px;
      height: 69px;
      text-align: left;
    }
    #mainBtn {
      padding-left: 12px;
      margin-top: 9px;
      margin-bottom: 7px;
    }
    #BarraSuperior-Right {
      position: relative;
      float: right;
      width: 80%;
      height: 69px;
      text-align: right;
    }
    #BarraSuperior-Right-LoggedIn {
      position: relative;
      float: right;
      line-height: 69px;
      text-align: center;
      width: 222px;
      height: 69px;
    }
    #BarraSuperior-Right-Pic {
      position: relative;
      float: right;
      text-align: center;
      margin-top: 9px;
      margin-bottom: 7px;
      width: 54px;
      height: 54px;
    }
    #BarraSuperior-Right-SignOut {
      position: relative;
      float: right;
      line-height: 69px;
      text-align: center;
      width: 81px;
      height: 69px;
    }
    #LoginBtnContainer {
      padding-left: 32px;
      padding-right: 12px;
      margin-top: 9px;
      margin-bottom: 7px;
    }
    li.twitterLi {
      list-style-type: none;
      padding-top: 9px;
      padding-right: 12px;
    }
    img.img-circle {
      border-radius: 30px;
    }
    
  </style>
  
  
  </head>
  <body>
      <div id = "BarraSuperior">
        <!--Brand i Toggle agrupats per millorar el display en movils -->
        <div id = "BarraSuperior-Left">
          <h1 id = "mainBtn"><%= link_to root_path do %><%= image_tag('iTLogo.png', width: 51, height: 51, class: 'img-circle') %><% end %></h1>
        </div>
        
        <!--Obtenir els nav links i les forms per fer toggling-->
        <div id = "BarraSuperior-Right">
          <% if current_user %>
            <div id = "BarraSuperior-Right-SignOut"><%= link_to "Sign Out", 'sign_out', method: :delete %></div>
            <div id = "BarraSuperior-Right-Pic"><%= image_tag(@auth['info']['image'], width: 51, height: 51, class: 'img-circle') %></div>
            <div id = "BarraSuperior-Right-LoggedIn">Signed in as: <%= current_user.name %></div>
          <% else %>
            <li class = "twitterLi"><%= link_to "auth/twitter" do %><%= image_tag('twitter.png', width: 51, height: 51, class: 'img-circle') %><% end %></li>
          <% end %>
        </div> <!--Acaba la navbar-->
      </div> <!--Acaba container-fluid-->
    
    <!--INTERFICIE GRAFICA EXTRA QUE ES MOSTRA EN FUNCIO DE A QUIN CONTROLLER APUNTEM-->
    <%= yield %>
    
  </body>
</html>

