<!DOCTYPE html>

<!--TOTA LA INTERFICIE GRAFICA QUE ES MOSTRARA EN TOT MOMENT, VEURE YIELD AL FINAL-->

<html>
  <head>
    <title>IssueTrackerG12B</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--Ultima versio de CSS-->
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--Opcional (Theme)-->
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <!--Ultima versio de Javascript-->
  <script src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  
  <style>
    li{
      vertical-align: middle;
      border:solid 1px black;
      height: 81px;
    }
    
    
  </style>
  
  
  </head>
  <body>

    <nav class = "navbar navbar-default">
      <div class = "container-fluid">
        <!--Brand i Toggle agrupats per millorar el display en movils -->
        <div class = "navbar-header">
          <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#bs-example-nabar-collapse-1">
            <span class = "sr-only">Toggle navigation</span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
          </button>
          <h1><%= link_to root_path do %>My Issue Tracker<% end %></h1>
        </div>
        
        <!--Obtenir els nav links i les forms per fer toggling-->
        <div class = "collapse navbar-collapse" id = "bs-example-navbar-collapse-1">
          <ul class = "nav navbar-nav navbar-right">
            <% if current_user %>
              <li>Signed in as: <%= current_user.name %> - <%= image_tag(@auth['info']['image'], width: 51, height: 51, class: 'img-circle') %></li>
              <li><%= link_to "Sign Out", 'sign_out', method: :delete %></li>
            <% else %>
              <li><%= link_to "auth/twitter" do %><%= image_tag('twitter.png', width: 51, height: 51, class: 'img-circle') %><% end %></li>
            <% end %>
          </ul>
        </div> <!--Acaba la navbar-->
      </div> <!--Acaba container-fluid-->
    </nav>
    
    <!--INTERFICIE GRAFICA EXTRA QUE ES MOSTRA EN FUNCIO DE A QUIN CONTROLLER APUNTEM-->
    <%= yield %>
    
  </body>
</html>

