<!DOCTYPE html>

<!--TOTA LA INTERFICIE GRAFICA QUE ES MOSTRARA EN TOT MOMENT, VEURE YIELD AL FINAL-->

<html>
  <head>
    <title>IssueTrackerG12B</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!--Ultima versio de CSS
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--Opcional (Theme)
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <!--Ultima versio de Javascript
  <script src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
  
  </head>
  <body>
      <div id = "BarraSuperior">
        <!--Brand i Toggle agrupats per millorar el display en movils -->
        <div id = "BarraSuperior-Left">
          <h1 id = "mainBtn"><%= link_to root_path do %><%= image_tag('iTLogo.png', width: 51, height: 51, class: 'img-circle') %><% end %></h1>
        </div>
        
        <!--Obtenir els nav links i les forms per fer toggling-->
        <div id = "BarraSuperior-Right">
          <% if current_user %>
            <% if @auth %><div id = "BarraSuperior-Right-SignOut"><%= link_to "Sign Out", '/sign_out', method: :delete %></div>
            <div id = "BarraSuperior-Right-Pic"><%= image_tag(@auth['info']['image'], width: 51, height: 51, class: 'img-circle') %></div><% end %>
            <div id = "BarraSuperior-Right-LoggedIn">Signed in as: <%= current_user.name %></div>
          <% else %>
            <li class = "twitterLi"><%= link_to "/auth/twitter" do %><%= image_tag('twitter.png', width: 51, height: 51, class: 'img-circle') %><% end %></li>
          <% end %>
        </div> <!--Acaba la navbar-->
      </div> <!--Acaba container-fluid-->
    
    <!--INTERFICIE GRAFICA EXTRA QUE ES MOSTRA EN FUNCIO DE A QUIN CONTROLLER APUNTEM-->
    <%= yield %>
    
  </body>
</html>

